body {
	margin: 0 auto;
	text-align: center;
	color: grey;
	width: 90%;
}

.title {
	color: red;
}

.container {
	display: flex;
}

.date {
	color: black;
	margin-top: 2em;
}

.calendar {
	margin: 3em;
	font-size: 1.3rem;
}

.coloneHead {
	font-weight: bold;
	width: 5em;
	height: 2em;
}

.coloneBody {
	border: solid grey 2px;
	height: 4em;
}

.styleForm {
	background-color: white;
	border: solid grey 2px;
}
